<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Unica+One&display=swap" rel="stylesheet">

    <title>Dx sneaker: zapatillas deluxe</title>
</head>
<body>
    <header class="header">
        <div class="contenedor__header">
            <img id="logo" src="/images/logoSinFondo.png">
            <form class="barra__busqueda">
                    <input class="buscador" type="search" placeholder="Marcas, productos">
                    <input class="boton" type="submit">
            </form>
            <span class="menu__icon"><i class="fas fa-bars" style="font-size: 1.5em; color: #FFC06D ;"></i></span>
            <nav class="navigation">    
                <ul>
                   <a href="carrito.html">Carrito<i class="fas fa-shopping-cart"></i></a>
                   <a href="login.html">Login<i class="fas fa-sign-in-alt"></i></a>
                   <a href="registro.html">Registro<i class="far fa-id-card"></i></a>
                </ul>
            </nav>
        </div>    
    </header>
    <main class="main">
        <div class="banner"></div>
        <div>
            <h3>Los más buscados</h3>
        </div>
        <div class="contenedor__productos">
            <article class="productos">
                <img class="imagenes" src="/images/adidas-yeezy-boost350br.jpg">
                <div class="descripcion">
                    <div class="informacion-precio">
                        <i class="fas fa-dollar-sign"></i>
                        <p class="precio">150</p>
                    </div>
                    <div class="envio">
                        <i class="fas fa-truck"></i>
                        <p>Envío gratis</p>
                    </div>
                </div>
            </article>
            <article class="productos">
                <img class="imagenes" src="/images/adidas-negras-blancas.jpg">
                <div class="descripcion">
                    <div class="informacion-precio">
                        <i class="fas fa-dollar-sign"></i>
                        <p class="precio">208</p>
                    </div>
                </div>
            </article>
            <article class="productos">
                <img class="imagenes" src="/images/gore-tex.jpg">
                <div class="descripcion">
                    <div class="informacion-precio">
                        <i class="fas fa-dollar-sign"></i>
                        <p class="precio">223</p>
                    </div>
                </div>
            </article>
            <article class="productos">
                <img class="imagenes" src="/images/jordan-rojas.jpg">
                <div class="descripcion">
                    <div class="informacion-precio">
                        <i class="fas fa-dollar-sign"></i>
                        <p class="precio">150</p>
                    </div>
                </div>
            </article>
            <article class="productos">
                <img class="imagenes" src="/images/jordan-verdeazul.jpg">
                <div class="descripcion">
                    <div class="informacion-precio">
                        <i class="fas fa-dollar-sign"></i>
                        <p class="precio">385</p>
                    </div>
                    <div class="envio">
                        <i class="fas fa-truck"></i>
                        <p>Envío gratis</p>
                    </div>
                </div>
            </article>
        </div>
        <div>
            <h3>Ofertas</h3>
        </div>
        <div class="contenedor__productos">
            <article class="productos">
                <img class="imagenes" src="/images/newbalance-550.jpg">
                <div class="descripcion">
                    <div class="informacion-precio">
                        <i class="fas fa-dollar-sign"></i>
                        <p class="precio">273</p>
                    </div>
                    <div class="envio">
                        <i class="fas fa-truck"></i>
                        <p>Envío gratis</p>
                    </div>
                </div>
            </article>
            <article class="productos">
                <img class="imagenes" src="/images/newbalance-aime-leon-dore.png">
                <div class="descripcion">
                    <div class="informacion-precio">
                        <i class="fas fa-dollar-sign"></i>
                        <p class="precio">118</p>
                    </div>
                </div>
            </article>
            <article class="productos">
                <img class="imagenes" src="/images/nike-hacky-sack.jpg">
                <div class="descripcion">                   
                    <div class="informacion-precio">
                        <i class="fas fa-dollar-sign"></i>
                        <p class="precio">139</p>
                    </div>
                </div>
            </article>
            <article class="productos">
                <img class="imagenes" src="/images/nike-lowa.jpg">
                <div class="descripcion">
                    <div class="informacion-precio">
                        <i class="fas fa-dollar-sign"></i>
                        <p class="precio">199</p>
                    </div>
                    <div class="envio">
                        <i class="fas fa-truck"></i>
                        <p>Envío gratis</p>
                    </div>
                </div>
            </article>
        </div>
    </main>
    <footer class="footer">
        <div class="contenedor__footer">
            <div class="redes">
                <h4>Seguinos en nuestras redes</h4><br>
                <a href="carrito.html"><i class="fab fa-facebook" style="font-size: medium; color: black;"></i></a>
                <a href="carrito.html"><i class="fab fa-twitter" style="font-size: medium; color: black;"></i></a>
                <a href="carrito.html"><i class="fab fa-instagram" style="font-size: medium; color: black;"></i></a>
            </div>
            <h4>Copyrigth: Todos los derechos reservados</h4>
        </div>    
    </footer>
</body>
</html>