<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/index.css" rel="stylesheet">
    <title>DX SNEAKERS</title>
</head>
<body>
    <header class="header">
        <nav class="navegation">
            <div class="contenedor">
                <div class="logo">
                    <img src="/images/logo.jpg">
                </div>
                <div class="barra-busqueda">
                    <form class="barra">
                        <input class="buscar" name="busqueda" placeholder="Buscar productos, marcas.">
                        <span><i class="fas fa-search" style="padding: 6px;"></i></span>
                    </form>    
                </div>
                <div class="contacto">
                    <a class="cada-contacto" href="/carrito.html">carrito</a>
                    <a class="cada-contacto" href="/registro.html">registro</a>
                    <a class="cada-contacto" href="/login.html">login</a>
                </div>
            </div>
        </nav>    
    </header>
    <main>
       
    </main>
    <footer>

    </footer>
</body>
</html>