<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <title>producto</title>
</head>
<body>
    <header class="header">
        <div class="contenedor__header">
            <img id="logo" src="/images/logo.png" width="100%" height="120px">
            <form class="barra__busqueda">
                    <input class="buscador" type="search" placeholder="Marcas, productos">
                    <input class="boton" type="submit">
            </form>
        </div>
    </header>
    <main>
        <div>
         <p>Logos de marcas</p>   
        </div>
        <div><h2>Detalle de producto</h2></div>
        <article>Galeria de imagenes</article>
        <article>Descripcion de producto</article>
    </main>
    <footer>
        
    </footer>
</body>
</html>