body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#contenedor{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}
#fondo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
}
.borde{
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    /* padding: 50px 100px; */
}
#titulo{
    font-family: 'Secular One', sans-serif;
    font-weight: 900;
    color: #FF9100;
    font-size: 25px;
    border-bottom: 3px solid #004AAD;
    width: 100%;
}
#productCarrito{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    border-bottom: #e0e0e0 1px solid;
}
.subtitulos{
    font-family: 'Secular One', sans-serif;
    font-weight: 900;
    color: #004AAD;
}
#botonSubmit{
    display: flex;
    align-items: center;
    justify-content: center;
}
#text{
    display: flex;
    justify-content: start;
    align-items: flex-start;
}