* {
    margin: 0px;
    padding: 0px;
    font-family: 'Secular one', sans-serif;
}
#contenedor{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin-top: 10%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 10%; 
}
.borde{
    width: 100%;
    border: 2px solid #004AAD;
    border-radius: 4px;
    padding: 4px;
}
#titulo{
    text-align: center;
    margin: 4% 0;
    border-bottom: 2px solid #004AAD;
    font-family: 'Secular One', sans-serif;
    font-weight: 800;
    color: #FF9100;
    font-size: 25px;
}
.subtitulos{
    font-family: 'Secular One', sans-serif;
    font-weight: 900;
    color: #004AAD;
}
#botonSubmit{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5%;
    color: #004AAD;
}
#error{
    color: red;
    font-size: small;
}
.input{
    margin: 2% 0;
}
.nombreMarca{
    margin-top: 2%;
}
.subir-archivo{
    margin-bottom: 4% 0 4% 0;
    position: relative;
    display: inline-block;
    width: 100%;
  }
  
  .subir-archivo::before {
    background-color: #004AAD;;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 5px;
    content: 'Seleccionar imagen de perfil'; 
    position: absolute;
    left: 17px;
    right: 17px;
    top: 0;
    bottom: 0;
  }
  
  .subir-archivo input[type="file"] {
    opacity: 0;
    width: 90%;
    display: inline-block;
    border-radius: 5px;
    border-color: #004AAD;;
  }
  .subir-archivo input[type="file"]:hover{
      cursor: pointer;
  }

  @media (min-width: 715px){
    .borde{
        width: 50%;
    }
}