* {
    margin: 0px;
    padding: 0px;
    font-family: 'Secular one', sans-serif;
}
#contenedor{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin-top: 10%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 10%; 
}
.borde{
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    padding: 50px 100px;
}

#titulo{
    text-align: center;
    margin-top: 4%;
    font-family: 'Secular One', sans-serif;
    font-weight: 800;
    color: #FF9100;
    font-size: 25px;
}
.subtitulos{
    font-family: 'Secular One', sans-serif;
    font-weight: 900;
    color: #004AAD;
}
#botonSubmit{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5%;
    color: #004AAD;
}
#error{
    color: red;
    font-size: small;
}
.nombreMarca{
    margin-left: 5%;
}