* {
    margin: 0px;
    padding: 0px;
    font-family: 'Secular one', sans-serif;
}
#nombreProducto{
    color: #FF9100;
    font-size: 25px;
    font-weight: 900;
    font-family: 'Secular one', sans-serif;
    margin-left: 5%;
}

#contenedor{
    margin-top: 10%;
    width: 100%;
}
#productContenedor{
    border: 2px solid #004AAD;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0% 5% 10% 5%;
}
#productName{
    width: 100%;
    margin-bottom: 2px;
    border-bottom: 2px solid #004AAD;
}
#modelo{
    display: none;
}
#productImg{
    width: 100%;
}
.info{
    color: #FF9100;
    margin-bottom: 3%;
}
#precio{
    font-weight: 800;
}
#infoContenedor{
  margin: 2%;
}
#actionContenedor{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
.action{
    margin: 2% 0;
    width: 100%;
    background-color: #004AAD;
    color: #FFF;
    border: transparent;
    border-radius: 4px;
    padding: 8px;
}
.action a{
    text-decoration: none;
    color: #FFF;
}
.action-div{
    font-size: 12px;
    align-items: center;
    width: 50%;
    margin: 0 25% 10px;
}
#carrito{
    margin: 0 25% 10% 25%;
}
#añadir{
    width: 100%;
}
.carrito {
    color: #FF9100;
    text-decoration: none;
    margin-left: 3%;
}

@media (min-width: 500px) {
    #contenedor{
        width: 90%;
        margin: 0 5% 10% 5%;
    }
    #productContenedor{
        display: flex;
        flex-direction: row;
    }
    #contenedor-desktop{
        width: 70%;
        display: flex;
        flex-direction: column;
    }
    #infoContenedor{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        justify-self: center;
    }
    #productName{
        width: 40%;
        border-bottom: 0 none;
    }
    #actionContenedor{
        width: 100%;
        margin-bottom: 0;
    }
    .action-div{
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }
}

@media (min-width: 768px){
    
    #productContenedor{
        justify-content: space-between;
    }
    #contenedor{
        margin-top: 10%;
    }
    #contenedor-desktop{
        width: 60%;
    }
    #productName{
        width: 40%;
    }
    .info{
        margin-bottom: 5%;
        font-size: 20px;
    }
    #precio{
        font-size: 25px;
    }
    #infoContenedor{
        width: 100%;
    }
    #carrito a{
        font-size: 25px;
    }
    #iconoCarrito{
        margin-left: 1%;
        font-size: 25px;
    }
    #nombreProducto{
        display: none;
    }
    #modelo{
        font-weight: 800;
        display: block;
    }
}