html{
    height: 100%;
}
#nombreProducto{
    color: #FF9100;
    font-size: 25px;
    font-weight: 900;
    font-family: 'Secular one', sans-serif;
}

#contenedor{
    width: 70%;
    margin: 5% 15% 5% 15%;
}
#productContenedor{
    border: 2px solid #e0e0e0;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}
#productName{
    margin: 3% 2% 2% 3% ;
}
#productImg{
    width: 100%;

}
.info{
    color: #FF9100;
    margin-bottom: 2%;
}
#precio{
    font-weight: 800;
}
#infoContenedor{
  margin: 2%;
}
#actionContenedor{
    margin-top: 2%;
}

#carrito a{
    color: #FF9100;
    text-decoration: none;
    margin-left: 3%;
}

@media (min-width: 500px) {
    #contenedor{
        width: 80%;
        margin: 5% 10% 10% 10%;
    }
    #productContenedor{
        display: flex;
        flex-direction: row;
    }
    #infoContenedor{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    #productName{
        display: flex;
        justify-content: center;
    }
}

@media (min-width: 768px){
    .info{
        margin-bottom: 5%;
        font-size: 20px;
    }
    #precio{
        font-size: 25px;
    }
    #carrito a{
        font-size: 25px;
    }
    #iconoCarrito{
        margin-left: 1%;
        font-size: 25px;
    }
}