* {
    margin: 0px;
    padding: 0px;
    font-family: 'Secular one', sans-serif;
}

#conteiner{
    display: flex;
    justify-content: center;
    margin: 100px 100px;

}

#form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#fondoLogin{
    padding: 50px 100px;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
}
.linea{
    border-right: 1px solid gray;
    padding-right: 15px;
}
.espacioRegistro{
    padding-left: 15px;
}
.loginPalabra{
    font-family: 'Secular One', sans-serif;
    font-weight: 900;
    color: #004AAD;
    font-size: 15px;
}
#solapa{
    display: flex;
    justify-content: center;
}
.subrayado{
    text-decoration: none;
}
.recuerdame{
    display: flex;
    justify-content: center;
}
.enviarLogin{
    display: flex;
    justify-content: center;
    
}
.labelLogin{
    display: flex;
    justify-content: center;
    font-family: 'Secular One', sans-serif;
    font-weight: 900;
    color: #FF9100;
    font-size: 25px;
}
.letra{
    font-family: 'Secular One', sans-serif;
    font-weight: 900;
    color: #FF9100;
}
.colorBoton{
    background-color:#004AAD !important;
    border-color: #6381FF !important;
}
.olvidasteContra{
    display: flex;
    justify-content: center;
}
#olvidasteLetra{
    font-size: 10px;
    text-decoration: none;
    margin-bottom: 10px;
}
#error{
    color: red;
}
@media (max-width: 980px){
    html, body{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
}