*{
    margin: 0;
    padding: 0;
}
#titulo-producto{
    margin: 10% 4% 0;
    font-size: 16px;
    color: #004AAD;
    font-weight: 900;
}
.contenedor-producto{
    margin: 10% 4% 10%;
    border: solid 5px #FF9100;
    border-radius: 25px;
    padding: 10px;   
}
.detalle-producto-descripcion{
    margin: 10px 0 10px;
}
.talle-producto{
    margin: 20px 0 20px;
    width: 30%;
    border: solid 2px #FF9100;
    background-color: #FF9100;
    border-radius: 25px;
    padding: 5px;
}
.talle-producto label{
    font-size: 18px;
    font-weight: bold;
}
.talle-producto select{
    background-color: #FF9100;
    width: 60%;
}
.precio-producto{
    width: 30%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #FF9100;
    border-radius: 25px;
    padding: 5px;
    margin-bottom: 15px;
}
.descuento-producto{
    width: 30%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #FF9100;
    border-radius: 25px;
    padding: 5px;
    margin-bottom: 15px;
}
.precio-total-producto{
    width: 30%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #FF9100;
    border-radius: 25px;
    padding: 5px;
    margin-bottom: 15px;
}
.accion-producto{
    margin: 0 4% 0;
}
.stock-producto{
    font-size: 16px;
    color: #004AAD;
    font-weight: 900;
}
.acciones-producto{
    margin-top: 4%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.envio-producto{
    width: 42%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #FF9100;
    border-radius: 25px;
    padding: 5px;
    margin-bottom: 15px;
}
.cuotas-producto{
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #FF9100;
    border-radius: 25px;
    padding: 5px;
    margin-bottom: 15px;
}
.compra-producto{
    width: 42%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #FF9100;
    border-radius: 25px;
    padding: 5px;
    margin-bottom: 15px;
}
.compra-producto:hover{
    cursor: pointer;
    background-color: #D1E1F6;
}
.compra-producto a{
    text-decoration: none;
    color: black;   
}
.add-carrito-producto{
    width: 42%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #FF9100;
    border-radius: 25px;
    padding: 5px;
    margin-bottom: 15px;
}
.add-carrito-producto:hover{
    cursor: pointer;
    background-color: #D1E1F6;
}
#btn-carrito{
    background-color: #FF9100;
    border: none;
}

@media (min-width: 426px){
    .contenedor-general{
        display: flex;
    }
    .contenedor-producto{
        margin: 5% 0% 10% 2%;
        width: 58%;
    }
    .talle-producto{
        width: 50%;
    }
    .precio-producto{
        width: 50%;
    }
    .precio-total-producto{
        width: 50%;
    }
    .descuento-producto{
        width: 50%;
    }
    .accion-producto{
        margin-top: 10%;
        height: 50%;

    }
    .acciones-producto{
        flex-direction: column;
    }
    .compra-producto{
        width: 100%;
    }
    .cuotas-producto{
        width: 100%;
    }
    .envio-producto{
        width: 100%;
    }
    .add-carrito-producto{
        width: 100%;
    }
}
@media (min-width: 769px){
    .contenedor-general{
        justify-content: space-evenly;
    }
    #titulo-producto{
        margin-top: 1%;
        font-size: 24px;
    }
}
@media (min-width: 1024px){
    #titulo-producto{
        margin: 1% 25% 1%
    }
    .contenedor-producto{
    width: 50%;
    }
    .contenedor-general{
        margin: 1% 25% 1%;
        justify-content: space-between;
    }
}