@font-face {
    font-family: "miFuente";
    src: url("/public/Fuentes/Sports\ World-Regular.ttf") format("opentype");
}
#registro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    border: 1px solid #1D3E6B;
    
}
.mb-3{
    border-radius: 5px;
}

#textoLogo{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    color: #004AAD;
    font-family: "miFuente";
    
}

main{
    margin-top: 10%;
    height: 100%;
}
.formreg{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-around;
}
div input{
    width: 30em;
    border: 4px solid #90AACB;
    border-radius: 10px;
}
label{
    width: 10em;
    font-weight: bold;
    
    
}
/*#labelradio{
    align-items: center !important;
    
}
.divradio{
    display: flex;
    flex-direction: row;
    padding: 15px;

}*/

p label{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
    justify-content: space-evenly;
    
}
p {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: -10px;
   
}

.labelradio{
    padding: 5px;
    margin-left: 5px;
}


.botones{
    width: 10em;
    
}
input{
    margin-right: 5px;
}
