*{
    margin: 0px;
    padding: 0px;
}
.header{
    width: 100vw;
    background-color: #FF9A00;
}
.contenedor{
    width: 100%;
    display: flex;
    justify-content:flex-start;
    align-items: center;
}
img{
    width: 20vw;
}
.barra-busqueda{
    width: 40vw;
}
.buscar{
    text-align: left;
    padding-top: 12px;
    font-size: 14px;
    border: solid 1px black;
}
.contacto{
    width: 20vw;
    display: none;
}
.cada-contacto{
    font-size: 24px;
    padding: 8px;
    margin: 12px;
}