<footer class="footer">
    <div class="contenedor__footer">
        <div class="redes">
            <h4>Seguinos en nuestras redes</h4><br>
            <a href="carrito.html"><i class="fab fa-facebook" style="font-size: medium; color: black;"></i></a>
            <a href="carrito.html"><i class="fab fa-twitter" style="font-size: medium; color: black;"></i></a>
            <a href="carrito.html"><i class="fab fa-instagram" style="font-size: medium; color: black;"></i></a>
        </div>
        <h4>Copyrigth: Todos los derechos reservados</h4>
    </div>    
</footer>