<header class="header">
        <div class="contenedor__header">
            <a href="/"><img id="logo" src="/images/logoSinFondo.png"></a>
            <form class="barra__busqueda" action="/search" method="get">
                    <input class="buscador" type="search" placeholder="Marcas, productos">
                    <i class="fas fa-search"></i>
            </form>
            <span class="menu__icon"><i class="fas fa-bars" style="font-size: 1.5em; color: #FFC06D ;"></i></span>
            <nav class="navigation">    
                <ul>
                   <a href="/carrito">Carrito<i class="fas fa-shopping-cart"></i></a>
                   <a href="/login">Login<i class="fas fa-sign-in-alt"></i></a>
                   <a href="/registro">Registro<i class="far fa-id-card"></i></a>
                </ul>
            </nav>
        </div>    
</header>
