
<header class="header">
    <div class="contenedor__header">
        <a href="/"><img id="logo" src="/images/logoSinFondo.png"></a>
        <form class="barra__busqueda" action="/products/search" method="POST">
                <input class="buscador" type="search" placeholder="Marcas, zapatillas" name="buscar"> 
                <i class="fas fa-search"></i>
        </form> 
        <span class="menu__icon"><i class="fas fa-bars" style="font-size: 1.5em; color: #FFC06D ;"></i></span>
        <nav class="navigation navigation_visible">    
            <ul>
                <% if (locals.isLogged) { %>
                <a href="/users/perfil" id="sinPadding"><img id="image" src="/images/users/<%= locals.userLogged.fotoPerfil %>" width="32" height="32" class="rounded-circle"><%= locals.userLogged.nombreUsuario %></a>
                <a href="/products/carrito">Carrito<i class="fas fa-shopping-cart"></i></a>   
                <a href="/products/creacionProducto">Crear producto<i class="fas fa-plus"></i></a>
                    <% } else { %>
                <a href="/users/login">Iniciar sesión<i class="fas fa-sign-in-alt"></i></a>
                <a href="/users/register">Registro<i class="far fa-id-card"></i></a>
                <% } %>
            </ul>
        </nav>
    </div>    
</header>